In [1]:
import pandas as pd

In [3]:
ha_cost_df = pd.read_csv('../data/mmd_heart_attack_data.csv') # create a DataFrame

In [4]:
ha_cost_df.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [5]:
ha_cost_df.tail(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [6]:
ha_cost_df.info

<bound method DataFrame.info of       year geography             measure         adjustment      analysis  \
0     2017    County  Average total cost  Unsmoothed actual  Base measure
1     2017    County  Average total cost  Unsmoothed actual  Base measure
2     2017    County  Average total cost  Unsmoothed actual  Base measure
3     2017    County  Average total cost  Unsmoothed actual  Base measure
4     2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2651  2017    County  Average total cost  Unsmoothed actual  Base measure
2652  2017    County  Average total cost  Unsmoothed actual  Base measure
2653  2017    County  Average total cost  Unsmoothed actual  Base measure
2654  2017    County  Average total cost  Unsmoothed actual  Base measure
2655  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
0     Primary chronic conditions  Acute myocardial infarction         All
1     Primary chronic conditions  Acute myocardial infarction         All
2     Primary chronic conditions  Acute myocardial infarction         All
3     Primary chronic conditions  Acute myocardial infarction         All
4     Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2651  Primary chronic conditions  Acute myocardial infarction         All
2652  Primary chronic conditions  Acute myocardial infarction         All
2653  Primary chronic conditions  Acute myocardial infarction         All
2654  Primary chronic conditions  Acute myocardial infarction         All
2655  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips                   county  \
0            All  Dual & non-dual   1001           Autauga County
1            All  Dual & non-dual   1003           Baldwin County
2            All  Dual & non-dual   1005           Barbour County
3            All  Dual & non-dual   1007              Bibb County
4            All  Dual & non-dual   1009            Blount County
...          ...              ...    ...                      ...
2651         All  Dual & non-dual  72097       Mayaguez Municipio
2652         All  Dual & non-dual  72113          Ponce Municipio
2653         All  Dual & non-dual  72125     San German Municipio
2654         All  Dual & non-dual  72127       San Juan Municipio
2655         All  Dual & non-dual  72139  Trujillo Alto Municipio

            state  urban primary_race primary_denominator  analysis_value
0         ALABAMA  Urban          All           undefined           40470
1         ALABAMA  Rural          All           undefined           36615
2         ALABAMA  Rural          All           undefined           46509
3         ALABAMA  Urban          All           undefined           42949
4         ALABAMA  Urban          All           undefined           50067
...           ...    ...          ...                 ...             ...
2651  PUERTO RICO  Urban          All           undefined           28128
2652  PUERTO RICO  Urban          All           undefined           26403
2653  PUERTO RICO  Urban          All           undefined           26398
2654  PUERTO RICO  Urban          All           undefined           36599
2655  PUERTO RICO  Urban          All           undefined           26676

[2656 rows x 17 columns]>

In [8]:
fac_in_TN = ha_cost_df.loc[ha_cost_df["state"] == "TENNESSEE"] # keep only the rows for state in TN

In [9]:
print(fac_in_TN)

      year geography             measure         adjustment      analysis  \
2030  2017    County  Average total cost  Unsmoothed actual  Base measure
2031  2017    County  Average total cost  Unsmoothed actual  Base measure
2032  2017    County  Average total cost  Unsmoothed actual  Base measure
2033  2017    County  Average total cost  Unsmoothed actual  Base measure
2034  2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2116  2017    County  Average total cost  Unsmoothed actual  Base measure
2117  2017    County  Average total cost  Unsmoothed actual  Base measure
2118  2017    County  Average total cost  Unsmoothed actual  Base measure
2119  2017    County  Average total cost  Unsmoothed actual  Base measure
2120  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
2030  Primary chronic conditions  Acute myocardial infarction         All
2031  Primary chronic conditions  Acute myocardial infarction         All
2032  Primary chronic conditions  Acute myocardial infarction         All
2033  Primary chronic conditions  Acute myocardial infarction         All
2034  Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2116  Primary chronic conditions  Acute myocardial infarction         All
2117  Primary chronic conditions  Acute myocardial infarction         All
2118  Primary chronic conditions  Acute myocardial infarction         All
2119  Primary chronic conditions  Acute myocardial infarction         All
2120  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips             county      state  urban  \
2030         All  Dual & non-dual  47001    Anderson County  TENNESSEE  Urban
2031         All  Dual & non-dual  47003     Bedford County  TENNESSEE  Rural
2032         All  Dual & non-dual  47005      Benton County  TENNESSEE  Rural
2033         All  Dual & non-dual  47007     Bledsoe County  TENNESSEE  Rural
2034         All  Dual & non-dual  47009      Blount County  TENNESSEE  Urban
...          ...              ...    ...                ...        ...    ...
2116         All  Dual & non-dual  47181       Wayne County  TENNESSEE  Rural
2117         All  Dual & non-dual  47183     Weakley County  TENNESSEE  Rural
2118         All  Dual & non-dual  47185       White County  TENNESSEE  Rural
2119         All  Dual & non-dual  47187  Williamson County  TENNESSEE  Urban
2120         All  Dual & non-dual  47189      Wilson County  TENNESSEE  Urban

     primary_race primary_denominator  analysis_value
2030          All           undefined           42749
2031          All           undefined           43661
2032          All           undefined           44423
2033          All           undefined           41240
2034          All           undefined           38968
...           ...                 ...             ...
2116          All           undefined           40652
2117          All           undefined           55139
2118          All           undefined           40717
2119          All           undefined           61541
2120          All           undefined           52387

[91 rows x 17 columns]

In [11]:
fac_in_TN.shape

(91, 17)

In [50]:
ha_county = fac_in_TN["county"].unique() # list of counties in heart attack, only facilities in TN
print(ha_county)

['Anderson County' 'Bedford County' 'Benton County' 'Bledsoe County'
 'Blount County' 'Bradley County' 'Campbell County' 'Cannon County'
 'Carroll County' 'Carter County' 'Cheatham County' 'Chester County'
 'Claiborne County' 'Clay County' 'Cocke County' 'Coffee County'
 'Crockett County' 'Cumberland County' 'Davidson County' 'Decatur County'
 'DeKalb County' 'Dickson County' 'Dyer County' 'Fayette County'
 'Fentress County' 'Franklin County' 'Gibson County' 'Giles County'
 'Grainger County' 'Greene County' 'Grundy County' 'Hamblen County'
 'Hamilton County' 'Hardeman County' 'Hardin County' 'Hawkins County'
 'Haywood County' 'Henderson County' 'Henry County' 'Hickman County'
 'Houston County' 'Humphreys County' 'Jackson County' 'Jefferson County'
 'Johnson County' 'Knox County' 'Lake County' 'Lauderdale County'
 'Lawrence County' 'Lewis County' 'Lincoln County' 'Loudon County'
 'McMinn County' 'McNairy County' 'Macon County' 'Madison County'
 'Marion County' 'Marshall County' 'Maury County' 'Meigs County'
 'Monroe County' 'Montgomery County' 'Morgan County' 'Obion County'
 'Overton County' 'Perry County' 'Polk County' 'Putnam County'
 'Rhea County' 'Roane County' 'Robertson County' 'Rutherford County'
 'Scott County' 'Sequatchie County' 'Sevier County' 'Shelby County'
 'Smith County' 'Stewart County' 'Sullivan County' 'Sumner County'
 'Tipton County' 'Trousdale County' 'Unicoi County' 'Union County'
 'Warren County' 'Washington County' 'Wayne County' 'Weakley County'
 'White County' 'Williamson County' 'Wilson County']

In [14]:
fac_in_TN[fac_in_TN["urban"] == "Rural"].shape # counties in rural

(53, 17)

In [15]:
fac_in_TN[fac_in_TN["urban"] == "Urban"].shape # counties in urban

(38, 17)

In [53]:
fac_in_TN["urban"].value_counts() # no. of counties that is in rural and urban

Rural    53
Urban    38
Name: urban, dtype: int64

In [18]:
cancer_cost_df = pd.read_csv("../data/mmd_cancer_data.csv") # create another DataFrame

In [19]:
cancer_cost_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

In [20]:
cancer_cost_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

In [21]:
cancer_cost_df = cancer_cost_df.loc[cancer_cost_df["state"] == "TENNESSEE"] # only keep row for TN

In [22]:
cancer_cost_df.shape # TN counties

(95, 17)

In [54]:
cancer_cost_df['county'].unique() # list of county from cancer cost

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County',
       'Hardin County', 'Hawkins County', 'Haywood County',
       'Henderson County', 'Henry County', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Moore County',
       'Morgan County', 'Obion County', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Sequatchie County', 'Sevier County',
       'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County'], dtype=object)

In [51]:
cancer_cost_df.loc[~cancer_cost_df["county"].isin(ha_county)] # look for missing counties

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2429,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47067,Hancock County,TENNESSEE,Rural,All,undefined,22515
2459,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47127,Moore County,TENNESSEE,Rural,All,undefined,16978
2464,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47137,Pickett County,TENNESSEE,Rural,All,undefined,16768
2483,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47175,Van Buren County,TENNESSEE,Rural,All,undefined,16244

In [55]:
cancer_cost_df.loc[~cancer_cost_df["county"].isin(ha_county)]["county"] # look for missing counties specifically

2429      Hancock County
2459        Moore County
2464      Pickett County
2483    Van Buren County
Name: county, dtype: object

In [46]:
cancer_cost_df['county'].value_counts()

Greene County        1
Clay County          1
Henry County         1
Hardin County        1
Montgomery County    1
                    ..
Overton County       1
Coffee County        1
Polk County          1
Carter County        1
Roane County         1
Name: county, Length: 95, dtype: int64

In [29]:
income_df = pd.read_csv("../data/irs_county_2016.csv")

In [31]:
income_df.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205

In [33]:
income_df.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411

In [34]:
income_df = income_df.loc[income_df["STATE"] == "TN"]

In [35]:
income_df.shape

(768, 148)

In [41]:
income_df = income_df.loc[:, ['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

In [42]:
income_df

,STATE,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,N2,NUMDEP,ELDERLY,A00100,N02650,A02650,N02300,A02300
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20515,TN,Wilson County,4,14400,7130,4050,2610,27040,8660,3140,526285,14400,534076,260,816
20516,TN,Wilson County,5,9330,2890,5160,960,21000,6520,2440,577200,9330,585294,160,530
20517,TN,Wilson County,6,7160,1060,5630,380,18780,6000,1910,621704,7160,629408,130,485
20518,TN,Wilson County,7,10350,780,9260,240,29640,10040,2600,1384798,10350,1404054,170,600
20519,TN,Wilson County,8,2370,180,2130,50,6720,2220,700,948065,2370,968457,30,118

In [43]:
income_df.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

In [44]:
income_df

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20515,TN,Wilson County,4,14400,7130,4050,2610,27040,8660,3140,526285,14400,534076,260,816
20516,TN,Wilson County,5,9330,2890,5160,960,21000,6520,2440,577200,9330,585294,160,530
20517,TN,Wilson County,6,7160,1060,5630,380,18780,6000,1910,621704,7160,629408,130,485
20518,TN,Wilson County,7,10350,780,9260,240,29640,10040,2600,1384798,10350,1404054,170,600
20519,TN,Wilson County,8,2370,180,2130,50,6720,2220,700,948065,2370,968457,30,118